[Unit]
Description=Tailscale Up
After=network.target tailscaled.service
Wants=tailscaled.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/tailscale up
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
